[Unit]
Description=Simple OpenVPN monitor
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ilia/work/ovpn-stat
ExecStart=/home/ilia/work/ovpn-stat/ovpn-stat
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
